<head>
    <title>Pirate and Ships</title>>
</head>
<body>
    <p><%= @pirate.name %></p>
    <p><%= @pirate.weight %></p>
    <p><%= @pirate.height %></p>

    <p><% @ships.each do |s|%>
        <%= s.name %>
        <%= s.type %>
        <%= s.booty %>

        <% end %></p>

</body>
